<%- include("header"); -%>
<h1>About US</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae labore magni officiis quibusdam quod rem repudiandae sunt velit voluptate?</p>
<%- include("footer"); -%>